.contact-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.contact-text-wrapper{
    align-items: center;
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 20px ;
}

.contact-text-wrapper img{
    max-width: 500px;
    width: 100%;
}

.contact-btn-contact-me{
    background-color: #be9f4f8e;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.contact-btn-contact-me:hover{
    background-color: #be9f4f;
}