.experience-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.experience-content-wrapper h1{
    margin-bottom: 100px;
    text-align: center;
}

.experience-card-wrapper{
    display: flex;
    gap: 90px;
    justify-content: center;
}

.experience-card h2{
    cursor: pointer;
    font-size: 30px;
    height: 70px;
    transition: all 0.3s ease-in-out;
}

.experience-card h2:hover{
    color: #be9f4f;
}

.experience-card p{
    font-size: 16px;
}
